@model  StreetLegal.ViewModels.GarageViewModels.GarageIndexVM
@{
    ViewData["Title"] = "Index";
}

    <div class="text-center mb-5 text-white">
        <h1 class="display-3 pt-5">Welcome to your garage</h1>
        <h5 class="lead">You currently have @Model.CarsCount cars in it. Check them out:</h5>
    </div>

    <div class="container">
        <div class="row justify-content-around">
            @foreach (var item in Model.Cars)
            {
            <div class="card streetlegal-card mr-2 mb-2" style="width: 20rem;">
                <img class="card-img-top" src="@item.ImageUrl">
                <div class="card-body">
                    <h5 class="card-title">Make: <span class="font-weight-bold">@item.Make</span> </h5>
                    <h5 class="card-title">Year of production: <span class="font-weight-bold"> @item.Year </span></h5>
                    <hr />
                    <p class="card-text lead">Max Speed: @item.Engine.MaxSpeed km/h</p>
                    <p class="card-text lead">Horse Power: @item.Engine.HP HP</p>
                    <p class="card-text lead">Upgrade Bonus: @item.Parts.Sum(x => x.BonusPoints) Points</p>
                    <a asp-controller="Garage" asp-action="Main" asp-route-id="@item.Id" class="btn btn-primary">Make Main</a>
                    <a asp-controller="Upgrade" asp-action="Car" asp-route-id="@item.Id" class="btn btn-warning">Upgrade</a>
                    <a asp-controller="Shop" asp-action="Sell" asp-route-id="@item.Id" class="btn btn-danger">Sell</a>
                </div>
            </div>
            }
        </div>
        
    </div>


