@model StreetLegal.ViewModels.UpgradeViewModels.PartsIndexVM
@{
    ViewData["Title"] = "Upgrade Car";
}

<div class="text-center pt-5 mb-5 text-white section-card p-5">
    <h1 class="display-4">Welcome to the Parts Shop</h1>
    <h5 class="lead">Use your money to purchase new parts to upgrade your vehicle</h5>
</div>

<div class="container section-card p-5">
    <h5 class="mb-5 display-4 text-white">Available to purchase:</h5>
    <div class="row">
        @foreach (var item in Model.PartsAvailable)
        {
            <div class="card streetlegal-card mr-2 mb-2" style="width: 20rem;">
                <img class="card-img-top" src="@item.ImageUrl">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h5 class="card-title lead font-weight-bold">Price @item.Price $</h5>
                    <hr />
                    <p class="card-text lead">Bonus Points: @item.BonusPoints</p>
                    <a asp-controller="Upgrade" asp-action="Purchase" asp-route-id="@item.Id" class="btn btn-danger">Purchase</a>
                </div>
            </div>
        }
    </div>
    <hr class="bg-white" />
    <h5 class="mb-5 display-4 text-white">Already purchased:</h5>
    <div class="row">
        @foreach (var item in Model.PartsOwned)
        {
            <div class="card streetlegal-card mr-2 mb-2" style="width: 20rem;">
                <img class="card-img-top" src="@item.ImageUrl">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h5 class="card-title lead font-weight-bold">Price @item.Price $</h5>
                    <hr />
                    <p class="card-text lead">Bonus Points: @item.BonusPoints</p>
                </div>
            </div>
        }
    </div>
</div>


