@model StreetLegal.ViewModels.ShopViewModels.ShopIndexVM
@{
    ViewData["Title"] = "Index";
}

<div class="text-center pt-5 mb-5 text-white p-5">
    <h1 class="display-4">Welcome to the Car Shop</h1>
    <h5 class="lead">Use your money to purchase new vehicles</h5>
</div>

<div class="container section-card p-5">
    <h5 class="mb-5 display-4 text-white">Available to purchase:</h5>
    <div class="row">
        @foreach (var item in Model.CarsToPurchase.Cars)
        {
        <div class="card streetlegal-card mr-2 mb-2" style="width: 20rem;">
            <img class="card-img-top" src="@item.ImageUrl">
            <div class="card-body">
                <h5 class="card-title">Make: <span class="font-weight-bold">@item.Make</span> </h5>
                <h5 class="card-title">Year of production: <span class="font-weight-bold"> @item.Year </span></h5>
                <hr />
                <p class="card-text lead">Max Speed: @item.Engine.MaxSpeed km/h</p>
                <p class="card-text lead">Power: @item.Engine.HP HP</p>
                <a asp-controller="Shop" asp-action="Purchase" asp-route-id="@item.Id" class="btn btn-danger">Purchase</a>
            </div>
        </div>
        }
    </div>
    <hr class="bg-white" />
    <h5 class="mb-5 display-4  text-white">Already purchased</h5>
    <div class="row">
        @foreach (var item in Model.CarsOwned.OwnedCars)
        {
        <div class="card streetlegal-card mr-2 mb-2" style="width: 20rem;">
            <img class="card-img-top" src="@item.ImageUrl">
            <div class="card-body">
                <h5 class="card-title">Make: <span class="font-weight-bold">@item.Make</span> </h5>
                <h5 class="card-title">Year of production: <span class="font-weight-bold"> @item.Year </span></h5>
                <hr />
                <p class="card-text lead">Max Speed: @item.Engine.MaxSpeed km/h</p>
                <p class="card-text lead">Power: @item.Engine.HP HP</p>
                <a asp-controller="Upgrade" asp-action="Car" asp-route-id="@item.Id" class="btn btn-warning">Upgrade</a>
            </div>
        </div>
        }
    </div>
</div>


